# Vehicle Loan Prediction Machine Learning Model

# Chapter 2 - Load and Clean the Data

## Lesson 1 - Getting Started

In this lesson, we will import the required libraries and load the data!

### Import Libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

### Loading the Data

- Our vehicle loan data is provided in csv format 
- We can load it into python as a [DataFrame](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.html) with [pd.read_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.read_csv.html)
- Each loan in our dataset has a UNIQUEID which we will use as the row index

First, let's use pandas to load our loan data and store it in a variable called loan_df

- Replace ‘../data/vehicle_loans.csv’ with your local file path and name

In [ ]:
loan_df = pd.read_csv('../data/vehicle_loans.csv', index_col='UNIQUEID')

We can use [df.head](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.head.html) to get the first n rows from a DataFrame

- defaults to bring out the first 5 rows

In [ ]:
loan_df.head()

## Lesson 2 - First Look

Now that we have loaded the data, let's take a closer Look

### Rows and Columns

- How many data points do we have?
- How many attributes are there?
- We can get the dimensions of our DataFrame using [df.shape](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.shape.html)

In [ ]:
loan_df.shape

- The shape property of a dataframe contains a tuple with the dimensions of the dataframe
- A tuple is an ordered immutable (unchangeable) collection 
- Tuple elements can be accessed using indexes, like lists

In [ ]:
print("Number of rows: ", loan_df.shape[0])
print("Number of columns: ", loan_df.shape[1])

Ok, so we have 233154 data points each with 40 variables

### Variable Types

- Before we go any further it is important to understand the type of data stored in our columns
- Pandas [df.info()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.info.html) shows us both the data type and the not null count for each column

In [ ]:
loan_df.info()

Now we know we have 3 data types:
- int64 (whole number)
- float64 (floating point number)
- object (string or non-numeric)

Straight away there are some interesting things,

DATE_OF_BIRTH, EMPLOYMENT_TYPE, DISBURSAL_DATE, PERFORM_CNS_SCORE_DESCRIPTION, AVERAGE_ACCT_AGE and CREDIT_HISTORY_LENGTH are all object data types, meaning they contain non-numeric values such as strings or dates. 

EMPLOYMENT_TYPE has some missing values

### Date Range

DISBURSAL_DATE contains the date the agreed loan amount was transferred to the applicant, let's use it to get an idea of the timeframe covered by the data 

The first step is to convert DISBURSAL_DATE to a datetime
- We can use [pd.to_datetime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) to convert an entire column to datetime

In [ ]:
loan_df['DISBURSAL_DATE'] = pd.to_datetime(loan_df['DISBURSAL_DATE'])

Now we can use [min](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.min.html) and [max] to look for the first and last loan disbursals in our data

In [ ]:
print("Maximum Disbursal Date: ", loan_df['DISBURSAL_DATE'].max())
print("Minium Disbursal Date: ", loan_df['DISBURSAL_DATE'].min())

We can do mathematical operations on datetimes to get the difference in days

In [ ]:
print("Timespan of Data Set: ", loan_df['DISBURSAL_DATE'].max() - loan_df['DISBURSAL_DATE'].min())

### Now we know

- Our dataset has information for 233154 loans 
- There are 40 variables 
- The data covers loans over 336 days between January and December 2018

More detailed exploratory analysis will be covered in the next chapter

For now, let's move on to look at what we are actually trying to predict

## Lesson 3 - Target Variable

### What is the target variable?

- Variable we are trying to predict
- LOAN_DEFAULT is our target variable so lets investigate it further


### Explore the Target Variable
- How many people defaulted on their loans?
- To count the frequency of unique values in a dataframe column we can use [value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html)

In [ ]:
loan_df['LOAN_DEFAULT'].value_counts()

Great! We can see that out of our 233154 loans, there are 50611 which defaulted

The 'normalize' parameter lets us use value_counts to get a percentage

In [ ]:
loan_df['LOAN_DEFAULT'].value_counts(normalize=True)

The rate of defaulted loans is about 21.7% keep this in mind!

### Visualize the Target Variable

Just for good measure lets visualize our target variable using the [countplot](https://seaborn.pydata.org/generated/seaborn.countplot.html) function from seaborn

In [ ]:
sns.countplot(x="LOAN_DEFAULT", data=loan_df)
plt.show()

## Lesson 4 - Missing Values

We saw earlier that our dataset contains some missing values, specifically for the EMPLOYMENT_TYPE column.

### Identifying Missing Data

Time to investigate what we saw earlier by identifying the columns with missing values

Using [df.isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html) we can find those columns which have at least one null value

In [ ]:
loan_df.isnull()

[df.isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html) outputs a DataFrame with a boolean value in each cell indicating the presence of a null value

We can combine [df.isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html) with [df.any](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.any.html) to get a list of all columns with at least one missing value

In [ ]:
loan_df.isnull().any()

As expected, the only column with any null values is EMPLOYMENT_TYPE

Combine [df.isnull](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.isnull.html) with [df.sum](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sum.html) to get a count of missing values for all columns

In [ ]:
loan_df.isnull().sum()

### Handling Missing Values

Ok, we can see that EMPLOYMENT_TYPE has 7661 missing values so we should take a closer look,

### EXERCISE - Explore EMPLOYMENT_TYPE

- Find out how many unique values are in the column
- Hint: Remember how we used [value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) and [catplot](https://seaborn.pydata.org/generated/seaborn.catplot.html) to explore the target variable

### SOLUTION

- First, we use [value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) to print 'EMPLOYMENT_TYPE' unique values with their counts 
- Next, we visualize this grouping using [catplot](https://seaborn.pydata.org/generated/seaborn.catplot.html)

In [ ]:
print(loan_df['EMPLOYMENT_TYPE'].value_counts())
sns.countplot(x="EMPLOYMENT_TYPE", data=loan_df)
plt.show()

### Handling Missing Values - Continued

Note that EMPLOYMENT_TYPE contains two unique values, 'Salaried' and 'Self Employed'

Since there are relatively few missing values (7661) we can populate them with a placeholder 'Missing' using pandas [fillna](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.fillna.html)

In [ ]:
loan_df = loan_df.fillna(value={'EMPLOYMENT_TYPE' : 'Missing'})

In [ ]:
print(loan_df['EMPLOYMENT_TYPE'].value_counts())
sns.countplot(x="EMPLOYMENT_TYPE", data=loan_df)
plt.show()

We can see that the 7661 missing values for employment type have been labelled with the string 'Missing'

## Lesson 5 - Dealing with Dates

- We have two date columns, DISBURSAL_DATE and DATE_OF_BIRTH
- These should be transformed into a more algorithm friendly format

In [ ]:
loan_df[['DISBURSAL_DATE', 'DATE_OF_BIRTH']].sample(10)

### Calculating Age 

- Intuitively it is fair to assume that age is associated with loan default risk 
- However, we currently do not have a measure of age, only date of birth


### EXERCISE 

- Can you create a new column 'AGE' based on the existing DATE_OF_BIRTH and DISUBURAL_DATE columns
- HINT: use [pd.to_datetime](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html) to convert from string to datetime

### SOLUTION

In [ ]:
loan_df['DATE_OF_BIRTH'] = pd.to_datetime(loan_df['DATE_OF_BIRTH'])
loan_df['DISBURSAL_DATE'] = pd.to_datetime(loan_df['DISBURSAL_DATE'])

#calculate their age at time of disbursal
loan_df['AGE'] = loan_df['DISBURSAL_DATE'] - loan_df['DATE_OF_BIRTH']
loan_df['AGE'] = loan_df['AGE'] // np.timedelta64(1, 'Y')

#Inspect the results
print(loan_df[['DATE_OF_BIRTH', 'AGE', 'DISBURSAL_DATE']].sample(n=5))

### SOLUTION - EXPLAINED

- First, make sure that DATE_OF_BIRTH and DISBURSAL_DATE are datetimes

In [ ]:
loan_df['DATE_OF_BIRTH'] = pd.to_datetime(loan_df['DATE_OF_BIRTH'])
loan_df['DISBURSAL_DATE'] = pd.to_datetime(loan_df['DISBURSAL_DATE'])

print("DATE_OF_BIRTH variable type: ", loan_df['DATE_OF_BIRTH'].dtypes)
print("DISBURSAL_DATE variable type: ", loan_df['DISBURSAL_DATE'].dtypes)

- now calculate the difference between DISBURSAL_DATE and DATE_OF_BIRTH

In [ ]:
loan_df['AGE'] = loan_df['DISBURSAL_DATE'] - loan_df['DATE_OF_BIRTH']
loan_df['AGE'].sample(n=10)

- now we have the age in days 
- divide age by 1 year
- // operator performs division and rounds down to the nearest whole number

In [ ]:
loan_df['AGE'] = loan_df['AGE'] // np.timedelta64(1, 'Y')

- sanity check our output

In [ ]:
print(loan_df[['DATE_OF_BIRTH', 'AGE', 'DISBURSAL_DATE']].sample(n=5))

### Disbursal Month

- At this point, we do not know how the disbursal date might be related to loan defaults
- We want to explore this relationship so need to convert to a numeric representation

### EXERCISE 

- Can you create a new column 'DISBURSAL_MONTH' to store the disbursal month as an integer
- HINT: pandas [dt](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.dt.html) allows us to extract month as an integer from a datetime

### SOLUTION

In [ ]:
loan_df['DISBURSAL_MONTH'] = loan_df['DISBURSAL_DATE'].dt.month
loan_df['DISBURSAL_MONTH'].value_counts()

As we can see, the distribution of loan disbursals is not even across all months, we will look into this in future lessons but for now, we can drop the disbursal date column.

We can now [drop](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.drop.html) DISBURSAL_DATE and DATE_OF_BIRTH from our data

In [ ]:
loan_df = loan_df.drop(['DISBURSAL_DATE', 'DATE_OF_BIRTH'], axis=1)

## Lesson 6 - Fix the Strings

- AVERAGE_ACCT_AGE and CREDIT_HISTORY_LENGTH were also strings 
- Column names suggest they should be numeric, let's take a look

### String Fields

- Can select a subset of DataFrame columns by passing in a list of column names,  [indexing](https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html)
- [df.sample](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.sample.html) can be used to pull a random sample of n rows

In [ ]:
loan_df[['CREDIT_HISTORY_LENGTH', 'AVERAGE_ACCT_AGE']].sample(n=10)

Both columns contain measures of time in the format "0yrs 0mon"

This string representation is not useful for analysis or prediction so let's convert it into a number

### String Manipulation

The current format of AVERAGE_ACCT_AGE and CREDIT_HISTORY_LENGTH is not useful

### EXERCISE

- Can you create a new column 'AVERAGE_ACCT_AGE_MONTHS' to store the average account age as an integer of months?
- HINT: First think about how to extract numbers from the String
- HINT: [df['COL_NAME'].map()](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html) can be used to perform functions/operations on an entire column

### SOLUTION 

### Step 1 - Create a function which can calculate the total number of months based on a list of input strings

The calc_months function simply takes the list of two numbers stored in AVERAGE_ACCT_AGE_MONTHS

- We recognize that the first number is the number of years 
- The second is the number of months 
- Simple calculation to get the total number of years

In [ ]:
def calc_months(str_list):  
    years = int(str_list[0])
    months = int(str_list[1])

    num_months = (years * 12) + months
    return num_months

### Step 2 - Extract the relevant numbers from the original string data

Pandas str.findall can be used to find all instances of a string within a column

the '\d+' is a regular expression which finds integers in a string

regular expressions can be used to identify and extract patterns in strings
all you need to know for know is that loan_df'AVERAGE_ACCT_AGE'.str.findall('\d+') returns a list of all the numbers in the string stored in the 'AVERAGE_ACCT_AGE' column

In [ ]:
loan_df['AVERAGE_ACCT_AGE_MONTHS'] = loan_df['AVERAGE_ACCT_AGE'].str.findall('\d+')
print(loan_df['AVERAGE_ACCT_AGE_MONTHS'].sample(n=10))

This creates a column 'AVERAGE_ACCT_AGE_MONTHS' which stores a list of numbers where the first item represents the number of years and the second represents the number of months

### Step 3 - Use map to perform calc_months across all rows

Use [map](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.map.html) to apply a function which calculates the total number of months for each row in the dataframe

In [ ]:
loan_df['AVERAGE_ACCT_AGE_MONTHS'] = loan_df['AVERAGE_ACCT_AGE_MONTHS'].map(calc_months)

### Step 4 - Inspect the results

In [ ]:
print(loan_df[['AVERAGE_ACCT_AGE_MONTHS', 'AVERAGE_ACCT_AGE']].sample(n=10))

### More String Manipulation

- Great, now we have fixed AVERAGE_ACCT_AGE how about CREDIT_HISTORY_LENGTH?
- We could simply copy and paste our solution from the previous exercise
- How about if we had 20 columns to fix instead of 2?

### EXERCISE

- Convert your solution to the previous exercise into a function and use it to fix CREDIT_HISTORY_LENGTH

### SOLUTION

In [ ]:
def convert_str_to_months(col_name):
    new_col = col_name + '_MONTHS'
    loan_df[new_col] = loan_df[col_name].str.findall('\d+')
    loan_df[new_col] = loan_df[new_col].map(calc_months)

Run the function and check the output

In [ ]:
convert_str_to_months('CREDIT_HISTORY_LENGTH')
loan_df[['CREDIT_HISTORY_LENGTH_MONTHS', 'CREDIT_HISTORY_LENGTH']].sample(n=5)

Looks good, remember to drop the columns you don't need

In [ ]:
loan_df = loan_df.drop(['AVERAGE_ACCT_AGE', 'CREDIT_HISTORY_LENGTH'], axis=1)

### Conclusion 

- We have now cleaned all of the ‘object’ columns except ‘PERFORM_CNS_SCORE_DESCRIPTION’
- Use [value_counts](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.Series.value_counts.html) to have a quick look at this

In [ ]:
loan_df['PERFORM_CNS_SCORE_DESCRIPTION'].value_counts()

Looks like a categorical field, we will look at this again in the next chapter

We are now finished with our data clean up, let's save our clean data to a new csv using [df.to_csv](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [ ]:
loan_df.to_csv('../data/vehicle_loans_clean.csv')